<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <MemPlus.Properties.Settings>
            <setting name="VisualStyle" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="MetroColor" serializeAs="String">
                <value>#FF07779C</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FileSystemCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableOnInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamMonitor" serializeAs="String">
                <value>True</value>
            </setting>
        </MemPlus.Properties.Settings>
    </userSettings>
</configuration>