<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MemPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <MemPlus.Properties.Settings>
            <setting name="VisualStyle" serializeAs="String">
                <value>Metro</value>
            </setting>
            <setting name="MetroColor" serializeAs="String">
                <value>#FF07779C</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StandByCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableOnInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RamMonitorInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FileSystemCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoOptimizePercentage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOptimizePercentageThreshold" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="AutoOptimizeTimed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOptimizeTimedInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="HideOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RamMonitorIntervalIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoOptimizeTimedIntervalIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowDragging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdministrativeWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmptyWorkingSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RamCleaningMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowResizeBorder" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NotifyIconStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarningLevel" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="HideOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayGauge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKey" serializeAs="Xml">
                <value>
                    <Key>None</Key>
                </value>
            </setting>
            <setting name="UseHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyModifiers" serializeAs="String">
                <value />
            </setting>
            <setting name="ClearClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAsAdministrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowRamStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupMemoryClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaveLogsToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogClearInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="LogClearIntervalIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogClearAuto" serializeAs="String">
                <value>True</value>
            </setting>
        </MemPlus.Properties.Settings>
    </userSettings>
</configuration>
