<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeDead.UpdateManager" version="1.5.0" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="18.1.0.55" targetFramework="net48" />
  <package id="Syncfusion.SfGauge.WPF" version="18.1.0.55" targetFramework="net48" />
  <package id="Syncfusion.SfShared.WPF" version="18.1.0.55" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="18.1.0.55" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="18.1.0.55" targetFramework="net48" />
</packages>