<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeDead.UpdateManager" version="1.4.4" targetFramework="net48" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="17.1.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfGauge.WPF" version="17.1.0.43" targetFramework="net48" />
  <package id="Syncfusion.SfShared.WPF" version="17.1.0.43" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="17.1.0.43" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="17.1.0.43" targetFramework="net48" />
</packages>